.editarea[data-showConfidences=true] > .wordconf-ok { color: inherit; }
.editarea[data-showConfidences=true] > .wordconf-doubt { color: darkorange; }
.editarea[data-showConfidences=true] > .wordconf-bad { color: red; }
.editarea[data-showMouseAlign=true]  > .mouse-align { background-color: yellow; }
.editarea[data-showCaretAlign=true]  > .caret-align { background-color: aquamarine; }
.editarea[data-showValidated=true]   > .editable-token[data-validated=true] { color: green; }
.editarea[data-showPrefix=true]      > .editable-token[data-prefix=true] { background-color: #CCFFFF; } 
